<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>

<script src="/Login/Login.js"></script>
<link rel="stylesheet" type="text/css" href="/Login/Login.css">
<div class="container">
    <div id="login-box">
        <div class="logo">
            <img src="./../Login/Resources/CyberbitLogo.png" class="img img-responsive img-circle center-block"/>
            <h1 id="resultContent" class="logo-caption"><span id="resultMessage" class="tweak">SOC3D</span> Response server</h1>
        </div><!-- /.logo -->
        <div class="controls">
            <input id="username" type="text" name="username" placeholder="Username" class="form-control" />
            <input id="password" type="password" name="username" placeholder="Password" class="form-control" />
            <button type="button" class="btn btn-default btn-block btn-custom" onclick="Login()">Login</button>
        </div><!-- /.controls -->
    </div><!-- /#login-box -->

</div><!-- /.container -->
<div id="particles-js"></div>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>-->


</body>



